@font-face{
  font-family: 	"Bodoni Cyrillic";
  src:url("7111.ttf")
}
html{
	scroll-behavior: smooth;
}
body{
	padding: 0;
	margin: 0;
	min-height: 1vh;
	font-family: "Certege";
	background: url(background2.png) no-repeat;
	background-attachment: fixed;
		height:1px;
}
 ::-webkit-scrollbar{
	background-color:#7b957e;
	border:1px solid #231f20;
	margin-top:20px 
}
 ::-webkit-scrollbar-thumb{
 	background-color:#231f20 ;
 	border-radius: 10px;
 }
 .allbox{
 	transform:translateY(-650px) scale(0.8);
 	border:solid 10px  #7b957e;
 	border-radius: 20px
 }
header{
	min-height: 91vh;
	background:rgba(255,255,255,0.7) ;
}
.greenbackground{
	background: rgba(123,149,126,0.7)
}

.flexable-item{
	max-width: 100%;
}
.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.logo{
	margin-top:10%;
	margin-bottom:40px;
	width: 45%;
}

nav ul {
	margin: 0;
	padding:1px 5px;
}
nav ul li{
	margin: 1% 2%;
	font-size:250%;
	background: #7b957e;
	list-style: none;
	padding: 15px;
	border-radius:15px;
	text-align: center;
	border:solid 3px #231f20;
	transition: 0.3s
}
nav ul li:hover{
	transform:scale(1.2);
}
nav ul li a{
	color:#fdf3e8; 
	text-decoration: none;
}

form{
	margin-top:20px;
	width:36%;
	background: #7b957e;
	padding:  20px;
	border-radius: 10px;
   transform: scale(1.4);
   display: flex;
   justify-content:space-around;
   flex-wrap: wrap;
   box-shadow: 5px 5px 10px  black 
}
input{
	border-radius: 10px;
	border:solid 5px #231f20 ;
	padding:13px 10px 10px 15px;
	margin:3px 3px;
	transition-duration: 0.3s;
	outline:none;
	 font-family: 	"Certege";
	 font-size: 105%;
	 font-weight:600;
	 width: 170px
}
input[type="submit"]{
	background: #7bbf7f;
	width: 205px
}
input[type="submit"]:hover{
	background: #fdf3e8;
	color:#7b957e;
	transform:scale(1.17);
}


 span p{
 	margin-top:100px;
	font-size: 4.5vw;
	text-align: center;
	color:#7b957e;
	text-shadow: 2px 1px 1px black 
}
.scroll-logo{
	margin-bottom: 20px;
	padding-top: 70px;
	font-size: 80px;
	color: #fdf3e8;
	text-shadow: 3px 2px 4px black ;
	text-transform: uppercase;
}

.scroll-box{
	margin:0 10%;
	max-width: 90%;
	height:80vh;
	background: #7b957e;
	border-radius: 40px 0 0 40px;
	box-shadow: 0 0 10px 3px black;
	overflow: auto;
}
.scroll-box p{
	font-size:35px;
	color:  #231f20;
	margin:20px 
}
.scroll-box h2{
	font-size: 50px;
	color:  #231f20;
	text-shadow: 2px 1px 3px black ;
    margin-left:5%;
}
.scroll-box ul li {
	font-size:30px ;
	margin:30px 0 30px 0;
}
.split{
	position: relative;
	height:90vh;
	display: flex;
	flex-wrap: wrap;
	background: #000;
	margin-top:50px;
	border-top:solid 10px #7b957e;
	border-bottom:solid 10px #7b957e;
}
.split .screen{
	position: relative;
	flex-grow: 2;
	display: flex;
	justify-content:center;
	overflow: hidden;
	transition: 1s ;
	border-right:solid 5px #7b957e;
	border-left:solid 5px #7b957e;
}
section:hover .screen{
	opacity: 0.1
}
section .screen:hover{
   opacity: 1;
	flex-grow: 4.5
}
.split .screen:nth-child(1){
 background:url(beauty.jpg) no-repeat;
 background-position: 50% 30%;
  border-left: none
}
.split .screen:nth-child(2){
 background:url(bootor.png) no-repeat;
 background-position: 30% 40%;
 }
.split .screen:nth-child(3){
 background:url(hotun.jpg) no-repeat;
 background-position: center;
}
.split .screen:nth-child(4){
 background:url(kingbird.png) no-repeat;
 background-position: center;
 border-right: none
}
.split .screen .content{
	position: absolute;
	bottom: 0;
	right:0;
	width:400px;
	height:auto;
	padding: 20px;
	border-radius: 20px 0 0 0;
	box-sizing: border-box;
	transform: translateX(100%);
	background: #7b957e;
	transition:0.7s;
	text-align: justify;
}
.split .screen:hover .content{
transform: translateX(0);
transition-delay: .3s
}
.split .screen .content h2{
	margin: 0;
	padding: 5px;
 text-transform: uppercase;
 font-size: 40px;
 color: #fdf3e8;
 text-shadow: 3px 2px 2px black
}
.split .screen .content p{
	margin: 0;
	padding: 5px;
	font-size:25px;
	font-weight: 600
}

 

.photo_switch2{
	max-width: 90%;
	width:500px;
	border-radius:60px;
	border:solid 6px #7b957e;
	box-shadow: 5px 5px 10px black
}
.fa-arrow-right
,.fa-arrow-left{
 transform: scale(1.8);
 color:#7b957e;
}
 .btnswitcher1:active .fa-arrow-left ,
 .btnswitcher2:active .fa-arrow-right{
 transform: scale(1.8) translateY(1px);
}

.btnswitcher1, .btnswitcher2{
   padding: 20px;
   margin: -30px 60px 0 60px;
   border:solid 3px #7b957e;
   border-radius: 50%;
   transform: scale(2);
   box-shadow: 2px 2px 5px #000;
   	outline:none;
}

.photo_switch{
	border-radius:60px;
	border:solid 6px #7b957e;
	box-shadow: 5px 5px 10px black
}
 .switcher1:active .fa-arrow-left ,
 .switcher2:active .fa-arrow-right{
 transform: scale(1.8) translateY(1px);
}

.switcher1, .switcher2{
   padding: 20px;
  margin: -30px 60px 0 60px;
   border:solid 3px #7b957e;
   border-radius: 50%;
   transform: scale(2);
   box-shadow: 2px 2px 5px #000;
   	outline:none;
}

@keyframes move {
 0%{

 		opacity:0; 
 }
	100%{
		transform: translateY(0px) ;
		opacity: 1;
	}
}
.animate{
	animation-duration: 0.6s;
	animation-name: move;
	animation-iteration-count:1;
}


.manilogo{
	flex-wrap: wrap;
	margin: 0  20%
}
.manilogo img{
 height:100px;
 margin: 2% 1%;
 transition:0.3s;
}

.manilogo img:hover{
	transform: scale(1.4)
}
.manilogo p{
	margin:  20px;
	font-size: 40px;
	text-align:center;
	vertical-align: middle;
   color:  #fdf3e8;
  text-shadow: 2px 2px 3px #000;
  border:3px solid  #fdf3e8; 
  padding:50px 35px;
  border-radius: 50%;
   transition:0.3s;
}
.manilogo p:hover{
	transform: scale(1.3)
}
.manilogo p.gotop{
padding: 30px 10px 15px 10px;
 width: 160px;
} 

.last-section{
	background:rgba(255,255,255,0.7) ;
}
 
footer{
	margin-top:-60px;
	height:100%;
	background:url(footer.jpg) no-repeat;
	background-position: 50% 55%;
	background-size: cover;
}
footer h3{
	font-size:60px;
	color: #efebe9;
	position:relative;
	margin-left:150px;
	transform: translateY(70px);
	text-transform: uppercase;
}
footer ul li{
	list-style: none;
	margin:60px;
	transition: 0.3s;
	margin-left:130px;
	display: flex;
	flex-wrap: wrap;

}
footer ul{
	display: block
}
footer ul li p {
font-size: 30px;
}
footer ul li a{
	text-decoration: none;
	padding:22px;
	margin-left:15px;
	margin-top:10px;
	border:solid 3px #efebe9;
	border-radius: 20px;
	color:#efebe9;
	font-weight: bold;
	transition: ease 0.3s ;
	font-size: 20px;
	height:20px;
}
footer a:hover {
    background:#eeeeee;
	color:#616161 ;
	border:solid 3px #e0e0e0;
	box-shadow: -5px 5px 10px #616161,
		5px 5px 10px #616161;
}
footer .circle{
	position: relative;
	right:40px;
	top:38px;
	width:20px;
	height:20px;
	background: #efebe9;
	border-radius: 50%
}
.shop a{
    margin-top:5px;
    margin-left:8%;
	display: block;
	text-align: center;
	line-height: 30px;
	padding:10px;
	width: 100px;
	height:60px; 
}
.fa-instagram{
  transform: scale(3)
}


