@font-face{
  font-family: 	"Certege";
  src:url("10648.ttf")
}
html{
	background: #fdf3e8;
}
body{

	margin:0;
	padding: 0;
	background: url(long-big.png) no-repeat,url(many-list.png) no-repeat,
	url(slender-flower.png) no-repeat;
background-attachment: fixed  ;
background-size: 17% ,30%;
background-position: 0 60%,105% 130% ,100% -5%;
 font-family: 	"Certege";
}
header{
	min-width: 100%;
	min-height:400px;
	margin-bottom: -100px
}
header .navbar{
margin:0;
padding:10px 5px;
background:  #ffffff;
box-shadow: 0 5px 15px 0 #231f20;
min-width: 100%;
min-height:15%;
}
.navbar .logo {
	align-self:flex-start; 
	float: left;
	position: relative;
}
.navbar .logo img{
	height:150px;
	margin-top: -5px;
	padding: 0;
	align-self:flex-start; 
}

header .navbar ul{
	list-style: none;
	position: absolute;
	left:40%;
}

header .navbar ul li{
	margin: 0 5px;
	font-size: 33px;
	transition-duration: 0.3s;
	padding:40px 19px;
	border-radius: 20px;
	 background: #7b957e ;
 color:white;

}
header .navbar ul li:hover{
color:#7b957e ;
background: none;
}

aside{
	height:60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav{
	height:80vh;
	display: flex;
	justify-content: flex-end;
	
}
nav span{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 50px;
  align-self: center;
  transform: translateY(-150px) translateX(500px)
}

 span p{
	width:400px;
	font-size: 35px;
	text-align: center;
	color:#7b957e;
	text-shadow: 1px 1px 3px #000;
}

form{
	background: #7b957e;
	padding: 20px;
	border-radius: 10px;
	transform: translateY(-150px) translateX(-200px) scale(1.5);
	align-self: flex-end;
}
input{
	height:50px;
	border-radius: 10px;
	border:solid 5px #231f20 ;
	padding:3px 15px 0 15px;
	margin:0 5px;
	transition-duration: 0.3s;
	outline:none;
	 font-family: 	"Certege";
	 font-size: 18px;
	 font-weight:600
}
input[type="submit"]{
	background: #7bbf7f
}

input[type="submit"]:hover{
	background: #fdf3e8;
	color:#7b957e;
	transform:scale(1.17);
}
section{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height:50vh;
}
.foto{
margin-left:250px;
transform: translateX(-140px) translateY(-250px); 	
}

.foto img{
	position: absolute;
	height:500px;
	transition: 0.5s;
	border-radius: 40px
}
.foto img:nth-child(1){
	z-index:4; 
}

.foto img:nth-child(2){
	z-index:3;
	transform: translateY(-20px) translateX(50px); 
}
.foto img:nth-child(3){
	z-index:2;
	transform: translateY(-40px) translateX(70px); 
}
.foto img:nth-child(4){
	z-index:1;
	transform: translateY(-60px) translateX(90px); 
}
.foto:hover img:nth-child(1){
	opacity: 0.3
}
.foto:hover img:nth-child(2){
	transform: translateY(-40px) translateX(310px);
	opacity: 0.3 
}
.foto:hover img:nth-child(3){
	transform: translateY(-90px) translateX(550px); 
     opacity: 0.3
}
.foto:hover img:nth-child(4){
	transform: translateY(-130px) translateX(780px); 
     opacity: 0.3
}
.foto img:nth-child(1):hover{
	transform: scale(1.3);
	opacity: 1;
	z-index: 10
}
.foto img:nth-child(2):hover{
	transform: translateY(-40px) translateX(310px) scale(1.3);
	opacity: 1;
	z-index: 10
}
.foto img:nth-child(3):hover{
	transform: translateY(-90px) translateX(550px) scale(1.3);
	opacity: 1;
	z-index: 10
}
.foto img:nth-child(4):hover{
 transform: translateY(-130px) translateX(780px) scale(1.3);
 opacity: 1;
 z-index: 10
}
.section-2{
	height:65vh;
	display: flex;
	justify-content: space-around;
}
.section-2 p{
 width:900px;
	font-size: 35px;
	margin-left: 50px;
	text-indent: 20px;
	color:#7b957e;
	text-shadow: 1px 1px 3px #000
}
.still-life-1{
height:850px;
 margin-left: -200px;
 box-shadow: 20px -20px  15px  #a5d6a7,
 -20px 20px 15px #757575  ;
 border-radius: 50px;
 height: 600px
}
.still-life-2{
 box-shadow: 20px -20px  15px  #a5d6a7,
 -20px 20px 15px #dce775  ;
 border-radius: 50px;
 height: 600px
}
.section-2:nth-child(3){
	transform: translateY(-500px);
}
.section-2 .stroke-line{
	width: 90%;
	align-self: flex-start;
	transform: translateY(-150px);
}
.section-2 span{
	transform: translateY(190px)
}
.sakura{
	height:750px;
	transform: rotate(90deg);
	margin:-450px 0 0 200px 
}
.long-sakura1{
	transform: translateY(150px);
}
.section-2 .little-flower{
	height:150px;
}
.flex{
	display: flex;
	justify-content: space-around;
}
article h2{
	font-size: 100px;
	margin-left:200px;
	color:#7b957e;
	text-shadow: 2px 5px 5px #000
}
article .flex{
	justify-content: flex-start;
}
.status{
	display: block;
	list-style: none
}
.status li {
	margin: 30px;
	margin-top:100px;
	margin-bottom: 100px;
	font-size: 40px;
	line-height: 37px;
	color:#7b957e ;
	text-shadow: 1px 1px 1px #000
}
.status li:before {
	content: '';
padding:1px 20px;
 background:linear-gradient(#7b957e,#7b9550);
 border-radius: 50%;
 margin:20px 
 
}
.column-gallery{
	display:block;

}
.column-gallery img{
	margin-top:65px; 
	width:550px;
	border-radius: 40px;
	box-shadow: -10px -10px 10px  #7b957e,10px 10px 10px #7b9570;
	transform:translateX(130px); 
	transition: 0.5s
}
.column-gallery img:hover{
	transform:translateX(130px) scale(1.2) rotate(-10deg);

}

article:nth-child(2){
	display: flex;
	justify-content: space-around;
}
.manilogo{
	display: flex;
	justify-content: space-around;

}
.manilogo img{
 height:100px;
 margin: 0 45px;
 transition:0.3s;
}

.manilogo img:hover{
	transform: scale(1.4)
}
.manilogo p{
	font-size: 50px;
	text-align:center;
	vertical-align: middle;
   color: #7b957e;
  text-shadow: 2px 2px 4px #000;
  border:3px solid #7b957e;
  border-radius: 50%;
  padding: 50px 10px 10px 10px;
  width: 160px;
   transition:0.3s;
}
.manilogo p:hover{
	transform: scale(1.4)
}
.manilogo p.gotop{
padding: 30px 10px 15px 10px;
} 


.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;flex-wrap:wrap;
}
article .teabox{
	height:70vh;
	width:90%;
	border:10px solid #7b957e;
    border-radius: 50px;
    transition-duration: .4s
}


article .teabox p{
	font-size: 50px;
	text-align: center;
	color:#7b957e;
	text-shadow: 2px 2px 4px #000;
	transition-duration: .4s
}


article .flex-center img{
	height:600px;
	border-radius: 40px;
	transition-duration: .4s;
	border:solid 1px ;
}
.photo_switch{
	height:650px;
	border-radius:60px 
}
.switcher1, .switcher2{
   padding: 20px;
   margin:0 30px;
   position: absolute;
   border:solid 3px #7b957e;
   border-radius: 50%;
   transform: scale(2);
   box-shadow: 2px 2px 5px #000
}
.switcher1{
	left:380px;
	outline:none;
}
.switcher2{
	 right: 380px;
	 outline:none;
}
.fa-arrow-right
,.fa-arrow-left{
 transform: scale(2);
 color:#7b957e;
}
 .switcher1:active .fa-arrow-left
,.switcher2:active .fa-arrow-right{
 
 transform: scale(2) translateY(1px);
}


.photo_switch2{
	height:650px;
	border-radius:60px 
}
.btnswitcher1, .btnswitcher2{
   padding: 20px;
   margin:0 30px;
   position: absolute;
   border:solid 3px #7b957e;
   border-radius: 50%;
   transform: scale(2);
   box-shadow: 2px 2px 5px #000
   
}
.btnswitcher1{
	left:25%;
	outline:none;
}
.btnswitcher2{
	 right: 25%;
	 outline:none;
}
 .btnswitcher1:active .fa-arrow-left
,.btnswitcher2:active .fa-arrow-right{
 transform: scale(2) translateY(1px);
}


footer{
	padding: 10px;
	margin: 0;
	background:url(footer.jpg) no-repeat;
	background-position: 50% 60%;
	background-size: cover;
	width:99%;
	height:80vh;
}
footer h3{
	font-size:60px;
	color: #efebe9;
	position:relative;
	margin: 60px
}
footer ul li{
	list-style: none;
	margin:60px;
	transition: 0.3s
}
footer ul{
	display: block
}
footer ul li p {
font-size: 30px
}
footer ul li a{
	text-decoration: none;
	padding:22px;
	padding-bottom:17px;
	border:solid 3px #efebe9;
	border-radius: 20px;
	color:#efebe9;
	font-weight: bold;
	transition: ease 0.3s ;
	font-size: 20px;
}
footer a:hover {
    background:#eeeeee;
	color:#616161 ;
	border:solid 3px #e0e0e0;
	box-shadow: -5px 5px 10px #616161,
		5px 5px 10px #616161;
}
footer .circle{
	position: relative;
	right:40px;
	top:55px;
	width:20px;
	height:20px;
	background: #efebe9;
	border-radius: 50%
}
.shop a{
    margin-top:-3.5%;
    margin-left:8%;
	display: block;
	text-align: center;
	line-height: 30px;
	padding:10px;
	width: 70px
}
.fa-instagram{
  transform: scale(3)
}



@keyframes move {
 0%{

 		opacity:0; 
 }
	100%{
		transform: translateY(0px) ;
		opacity: 1;
	}
}
.animate{
	animation-duration: 0.6s;
	animation-name: move;
	animation-iteration-count:1;

}